body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fccf00;
  color: rgb(214, 214, 214);
  max-width: 900px;
  margin: 0 auto;
}

#root {
  background-color: #467917;
  padding: 60px;
  border-radius: 20px;
  height: 100%;
  margin-top: 50px;
}

#navBar{
  background-color: #467917;
  max-width: 97%;
  height: 50px;
  padding: 13px;
  position: static;
  border-radius: 10px;
  margin-bottom: 50px;
}

#navElem{
  list-style-type: none;
  text-align: right;
}

li{
  display: inline-block;
  font-weight: bold;
  margin-right: 30px;
}

a{
  color: white;
}

#profIcon{
  background-size: cover;
  border-radius: 50%;
  border: 10px solid black;
  height:250px;
  margin-bottom: 50px;
  margin-right: 20px;
}

#prsBox{
  display: flex;
}

#personalInfo{
  font-weight: bold;
  color: white;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
#data{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 5px;
}

#about-me{
  text-align: left;
  font-weight: lighter;
  font-style: normal;
  color: white;
}

#project-text{
  text-align: left;
  color: white;
  font-style: normal;
  font-size: large;
}

#projects{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#ans1{
  background-size: cover;
  border: 10px solid black;
  height:250px;
  width: 300px;
}

#ans2{
  background-size: cover;
  border: 10px solid black;
  height:250px;
  width: 300px;
}

#prj1{
  display: flex;
  color: white;
  font-style: normal;
  align-items: center;
  gap: 20px;
}

#prj2{
  display: flex;
  color: white;
  font-style: normal;
  align-items: center;
  gap: 20px;
}