body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fccf00;
  color: rgb(214, 214, 214);
  max-width: 900px;
  margin: 0 auto;
}

#root {
  background-color: #467917;
  padding: 60px;
  border-radius: 20px;
  height: 100%;
  margin-top: 50px;
}

.logo {
  display: block;
  margin: 0 auto;
}

h1 {
  margin-top: 50px;
}

p {
  font-size: 22px;
}

#navBar{
  background-color: #467917;
  max-width: 97%;
  height: 50px;
  padding: 13px;
  position: static;
  border-radius: 10px;
  margin-bottom: 50px;
}

#navElem{
  list-style-type: none;
  text-align: right;
}

li{
  display: inline-block;
  font-weight: bold;
  margin-right: 30px;
}

a{
  color: white;
}

#root img{
  background-size: cover;
  border-radius: 50%;
  border: 10px solid black;
  height:250px;
}